@mixin desktopHd() {
  @media screen and (max-width: 1800px) {
    @content;
  }
}
@mixin desktop() {
  @media screen and (max-width: 1200px) {
    @content;
  }
}
@mixin tablets() {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin phones() {
  @media screen and (max-width: 480px) {
    @content;
  }
}

html,
body {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content {
  min-width: 320px;
  flex-grow: 1;
  position: relative;
  &__preloader {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translatex(-50%);
  }
}

.goods {
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    @include desktop {
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
    @include tablets {
      grid-template-columns: 90%;
      gap: 0;
    }
  }
  &__item-image {
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.good {
  display: flex;
  flex-direction: column;
  &__action {
    min-height: 70px;
  }
  &__price {
    font-size: 20px;
  }
  &__content {
    // height: 100px;
    flex-grow: 1;
  }
}

.cart {
  position: fixed;
  right: 7rem;
  top: 5rem;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px;

  @include tablets {
    right: 0.5rem;
    top: unset;
    bottom: 2rem;
    border-radius: 50%;
    padding: 26px 20px;
    font-size: 20px;
    width: 82px;
  }
  @include desktop {
    right: 0.8rem;
  }

  &__cartlist {
    position: absolute;
    top: 40px;
    right: 0;
    width: 400px;

    @include tablets {
      top: unset;
      bottom: 84px;
      width: 400px;
    }
    @include phones {
      top: unset;
      bottom: 84px;
      width: 320px;
    }
  }
}

.cartlist {
  position: relative;
  border: 1px solid #ccc;
  cursor: auto;
  opacity: 1;
  width: 100%;
  animation: 0.1s ease-in 0s show_cartlist;

  &__list.collection {
    max-height: 255px;
    overflow-y: scroll;
    margin: 0;
  }
  &__title {
    background-color: #fff;
    margin: 0;
    padding: 10px;

    @include tablets {
      font-size: 18px;
    }
  }
  &__close {
    cursor: pointer;
  }
  &__item.collection-item.avatar {
    display: flex;
    align-items: flex-start;
    padding-right: 10px;
    @include phones {
      padding-left: 52px;
    }
  }
  &__item-image {
    @include phones {
      left: 5px;
    }
  }
  &__item-info {
    display: flex;
    flex-direction: column;
    width: 170px;
    @include phones {
      width: 140px;
    }
  }
  .collection .collection-item.avatar &__item-remove.secondary-content {
    align-self: flex-start;
    cursor: pointer;
    padding: 0 2px;
    top: 10px;
    right: 10px;
  }
  &__item-quantity {
    width: 25px;
    text-align: center;

    @include tablets {
      font-size: 14px;
    }
    @include phones {
      font-size: 12px;
    }
  }
  &__item-price {
    padding-right: 36px;
    width: 96px;
    text-align: center;

    @include tablets {
      font-size: 14px;
    }
    @include phones {
      font-size: 12px;
    }
  }
  .collection .collection-item.avatar &__item-title.title {
    @include phones {
      font-size: 12px;
    }
  }
  &__total {
    font-size: 30px;
    background-color: #fff;
    padding: 10px;
    padding-right: 20px;
    @include tablets {
      font-size: 18px;
    }
  }
  &__total-quantity {
    font-size: 30px;

    @include tablets {
      font-size: 18px;
    }
  }
  &__item-quantity-changer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
  }
}

.alert.btn {
  position: fixed;
  top: 5rem;
  right: 50%;
  transform: translateX(50%);
  z-index: 10;
  animation: 0.5s ease-in 0s move_alert;
  opacity: 0.9;

  @include phones {
    font-size: 14px;
    height: unset;
    min-height: 30px;
    right: unset;
    transform: unset;
    width: 90%;
    line-height: 20px;
    padding: 8px;
  }
}

@keyframes move_alert {
  from {
    top: 10rem;
    opacity: 0.2;
  }
  to {
    top: 5rem;
    opacity: 0.9;
  }
}
@keyframes show_cartlist {
  from {
    top: 50px;
    opacity: 0.5;
    width: 0%;
  }
  to {
    top: 0;
    opacity: 1;
    width: 100%;
  }
}
